body{
  color: #40514E;
  margin: 0;
  text-align: center;
  font-family: 'Merriweather', serif;
}
h1{
  color: #6f9eaf;
  font-size: 5.625rem;
  margin: 50px auto 0 auto;
  font-family: 'Sacramento', cursive;
}
h2{
  color: #6f9eaf;
  margin-top: 0;
    font-size: 2.5rem;
  font-family: 'Montserrat', sans-serif;
  font-weight: normal;

}
h3{
  color: #11999E;
  font-family: 'Montserrat', sans-serif;

}
.top-container{
  position: relative;
  padding-top: 100px;
  background-color: #e4f5f9;

}
.intro{
  width: 30%;
  margin: auto;
}
.bottom-container{
  background-color: #66BFBF;
  padding: 50px 0 20px;
}
a{
  color: #11999E;
  font-family: 'Montserrat', sans-serif;
margin: 10px 20px;
text-decoration: none;
}
a:hover{
  color: #EAF6F6;
}
.copyright{
  color: #EAF6F6;
  font-size: 0.75rem;
  padding: 20px 0;
}
.shb{
  width: 20%;
  margin: 75px auto;
}
hr{
  border-style: none;
  border-top: dotted;
  border-color: #5eaaa8;
  width: 5%;
  border-width: 7px;
}
.topcloud{
  position: absolute;
  right: 300px;
  top: 50px;
}
.bottomcloud{
  position: absolute;
  left: 250px;
  bottom: 300px;
}
.skill-row{
  width: 50%;
  margin: 100px auto 100px auto;
  text-align: left;
  line-height: 2;
}
.skills-first{
  width: 25%;
  float: left;
  margin-right: 30px;
}
.gaming{
  width: 25%;
  float: right;
  margin-left: 20px;
}
.contact-me{
  width: 40%;
  margin: 40px auto 60px;
}
.footer-link{
  color: #11999E;
}
.btn{
  background: #11cdd4;
  background: -webkit-gradient( linear, left top, left bottom, color-stop(0.05, #11cdd4), color-stop(1, #11999e) );
  background: -moz-linear-gradient( center top, #11cdd4 5%, #11999e 100% );
  background: -ms-linear-gradient( center top, #11cdd4 5%, #11999e 100% );
  background: -o-linear-gradient( center top, #11cdd4 5%, #11999e 100% );
  background: -webkit-linear-gradient( center top, #11cdd4 5%, #11999e 100% );
  background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
  background-image: -o-linear-gradient(top, #11cdd4, #11999e);
  background-image: linear-gradient(to bottom, #11cdd4, #11999e);
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  font-family: 'Montserrat', sans-serif;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #30e3cb;
  background: -webkit-gradient( linear, left top, left bottom, color-stop(0.05, #30e3cb), color-stop(1, #2bc4ad) );
  background: -moz-linear-gradient( center top, #30e3cb 5%, #2bc4ad 100% );
  background: -ms-linear-gradient( center top, #30e3cb 5%, #2bc4ad 100% );
  background: -o-linear-gradient( center top, #30e3cb 5%, #2bc4ad 100% );
  background: -webkit-linear-gradient( center top, #30e3cb 5%, #2bc4ad 100% );
  background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
  text-decoration: none;
}
